<div class="card">
    <div class="card-body">
      <h3>Actualizar categoría</h3><hr>
        
            <div class="row">
                <div class="form-group col-md-12 col-lg-12">
                    <div>
                        <input type="text" class="form-control" name="strNombre" id="strNombre" aria-describedby="emailHelp" placeholder="Nombre de la categoría" [(ngModel)]="catModel.strNombre" #strNombre="ngModel" width="100%" required>
                    </div>
                    <div>
                        <input type="text" name="strDesc" class="form-control" id="strDesc" cols="30" rows="10" placeholder="Descripción" [(ngModel)]="catModel.strDesc">
                    </div>
                </div>
            </div>
        <!-- Botones -->
        <ul class=" list-inline ">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn-block btn btn-danger" (click)="cancelPUT()">Cancelar</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn-block btn btn-success" (click)="actualizarCategoria()">Actualizar</button>
                </div>
            </div>
        </ul>

    </div>
  </div>