<div class="card">
    <div class="card-body">
      <h3>Registro de Platillos</h3><hr>
      
            <div class="row">
                <div class="form-group col-md-12 col-lg-12">
                    <div>
                        <input type="text" name="strNombre" id="strNombre" placeholder="Nombre de la categoría" width="100%">
                    </div>
                    <div>
                        <textarea name="strDesc" id="strDesc" cols="30" rows="10" placeholder="Descripción"></textarea>
                    </div>
                    <div>
                        <input type="text" name="strIngre" id="strIngre" placeholder="Ingredientes" width="100%">
                    </div>
                    <div>
                        <input type="text" name="nmbPieza" id="nmbPieza" placeholder="Número de piezas" width="100%">
                    </div>
                    <div>
                        <input type="text" name="nmbPrecio" id="nmbPrecio" placeholder="Precio" width="100%">
                    </div>
                </div>
            </div>
        <!-- Botones -->
        <ul class=" list-inline ">
            <button type="button" class="btn btn-outline-danger">Cancelar</button>
            <button type="button" class="btn btn-outline-success">Registrar</button>
        </ul>

    </div>
  </div>